# Supabase (optionnel — requis uniquement pour l'admin + persistence des commandes)
DATABASE_URL=
DIRECT_URL=

# NextAuth (optionnel — requis uniquement pour l'admin)
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
ADMIN_EMAIL=

# WhatsApp du restaurant (public)
NEXT_PUBLIC_WHATSAPP=+212678630651
